<launch>

    <arg name="publish_clock" default="--clock"/>
    
    <!-- Path to MCDVIRAL dataset, downloadable at mcdviral.github.io. -->
    <arg name="data_path" default="/media/darren/mySamsungSSD/MCDVIRAL/"/>

    <!-- Choose the bag file -->
    <!-- <arg name="bag_file"  default="$(arg data_path)/ntu_day_01/*ntu_day_01_d435i.bag"/> -->
    <arg name="bag_file"  default="$(arg data_path)/ntu_day_01/*.bag"/>
    <!-- <arg  name="bag_file"  default="$(arg data_path)/kth_day_06/*.bag"/> -->
    <!-- <arg name="bag_file"  default="$(arg data_path)/tuhh_day_03/*.bag"/> -->

    <!-- Play the bag file -->

    <node required="false" pkg="rosbag" type="play" name="rosbag_player"
        args="$(arg publish_clock) $(arg bag_file) -r 1.0 -s 0 --topics /os_cloud_node/points /vn100/imu "
        launch-prefix="bash -c 'sleep 1; $0 $@' "/>

    <!--- Sim Time -->
    <param name="/use_sim_time" value="true" />

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lego_loam)/rviz/run_mcdviral.rviz" />

    <!--- TF -->
    <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0        1.570795 map    camera_init 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        camera base_link   10" />

    <!--- LeGO-LOAM -->    
    <node pkg="lego_loam" type="imageProjection"    name="imageProjection"    output="screen"/>
    <node pkg="lego_loam" type="featureAssociation" name="featureAssociation" output="screen"/>
    <node pkg="lego_loam" type="mapOptmization"     name="mapOptmization"     output="screen"/>
    <node pkg="lego_loam" type="transformFusion"    name="transformFusion"    output="screen"/>

</launch>
